html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Microsoft JhengHei", "LiHei Pro", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3d1b5a;
}

body {
  background-color: #f0e8ed;
}

body a {
  color: #a855ec;
  text-decoration: none;
}

body a:hover {
  color: #cb8bff;
}

#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}
